/*���Ұ�*/

body {
    font-family: Georgia, Microsoft JhengHei, sans-serif;

}

dropdown-multi-select {
    margin-right: 5px;
}

span > a:link {
    color: #328F7B;
}

/*Class��*/

.border-radius {
    border-radius: 6px
}

.clear-button {
    position: relative;
    margin-top: -5px;
    background: rgba(0, 0, 0, 0.25);
    color: #fff;
}

.clear-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
}

.field_set {
    padding-top: 5px;
}

.dropdown-multi-select {
    height: 30px;
    top: -1px;
}

.ibox .open > .dropdown-menu {
    left: 0;
    right: 0;
}

.inline-block {
    display: inline-block;
}

.instance-button {
    margin-top: 2px;
}

.margins-div {
    margin: 0 0 0 2px;
}

.model-management-filter {
    height: 30px;
    margin-left: 10px;
    padding: 5px;
}

.model-management-grid {
    margin-top: 10px;
}

.model-management-grid > a {
    margin-left: 10px;
    color: red;
}

.model-management-input {
    height: 30px;
}

.model-management-model-logic {
    left: -10%;
}

.model-management-model-save {
    top: 170px;
    left: 50%;
}

.model-management-model-backdrop {
    background: rgba(0, 0, 0, 0);

}

.models-select {
    height: 120px;
    margin-top: 5px;
    overflow: auto;
    position: relative;
    top: -10px;
    width: 100%;
}

.models-add {
    left: 70%;
    position: relative;
    width: 30px;
}

.models-drop {
    height: 200px;
    overflow: auto;

}

.models-label {
    position: relative;
    left: -50px;
    top: 30px
}

.model-preview {
    height: 180px;
    overflow: auto;
}

.next-todo > .btn {
    margin: 10px;
}

.number-picker {
    display: inline;
    width: 50px;
    height: 60px;
}

.number-arrow {
    position: relative;
    display: inline-block;
    top: 15px;
}

.number-arrow > span > a {
    position: relative;
    color: #328F7B;
    display: block;
    float: none;
    padding: 1px;
    margin-left: 1px;
    margin-top: -11px;

}

.number-input {
    height: 30px;
    padding-top: 4px;
    padding-bottom: 7px;
    margin-bottom: 0;
}

.section-content {
    display: inline-block;
    overflow: auto;
    width: 90%;
}

.tag-list li a {
    display: inline;
}

.cursor-pointer {
    cursor: pointer;
}