/*���Ұ�*/

body {
    font-family: Microsoft YaHei, SimHei, Microsoft JhengHei, sans-serif;
}



i.fa.fa-arrow-left {
    margin-right: 5px;
}

i.fa.fa-arrow-up {
    margin-right: 5px;
}

i.fa.fa-info-circle {
    margin-right: 5px;
}

input#autoScroll {
    visibility: hidden;
}

label[for=autoScroll] {
    cursor: pointer;
    position: relative;
    top: 5px;
    margin-right: 5px;
}

number-picker {
    margin-right: 5px;
}

span > a:link {
    color: #328F7B;
}

/*video::cue(c.ttt){*/
/*color: #00f123;*/
/*}*/
/*video::cue(v[voice="Larry"]){*/
/*color: #ff0000;*/
/*}*/

/*Class��*/
.agent0 {
    color: red !important;
}

.audio-contoller-div {
    display: inline-block;
}

.border-radius {
    border-radius: 6px;
}

.build-section-head {
    padding-top: 6px;
    padding-bottom: 6px;
}

.build-section-body {
    padding-top: 5px;
    padding-bottom: 6px;
}

.build-model-logic .distance {
    margin-top: -15px;
}

.checkOnline {
    position: relative;
    bottom: 10px;
}

.clear-button {
    position: relative;
    margin-top: -5px;
    background: rgba(0, 0, 0, 0.25);
    color: #fff;
}

    .clear-button:hover {
        background-color: rgba(0, 0, 0, 0.1);
        color: #fff;
    }

.cue-div {
    height: 300px;
    margin-top: 5px;
    overflow: auto;
    padding: 10px;
}

.cues {
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 18px;
    display: block;
}

    .cues:hover {
        position: relative;
        top: 2px;
        left: 2px;
        font-size: 160%;
    }

.cue-highlight {
    color: #006621 !important;
}

.cursor-pointer {
    cursor: pointer;
}

.dropdown-multi-select {
    height: 30px;
    top: -1px;
}

.ibox .open > .dropdown-menu {
    left: 0;
    right: 0;
}

.inline-block {
    display: inline-block !important;
}

.instance-button {
    margin-top: 15px;
    margin-left: 2px;
}

.instance-delete-button {
    height: 30px;
    padding-top: 1px;
    padding-bottom: 2px;
    margin-top: -15px;
    margin-left: 10px;
    float: none;
}


.iNu-logo-login {
    position: relative;
    left: -22px;
}

.iNu-logo-s {
    left: 0 !important;
}

.matched-review-grid {
    background: rgba(222, 222, 225, 0.2);
}

.matched-review-keyword {
    margin-top: 2px;
    width: 100%;
}

.matched-review-modal {
    width: 100%;
}

.matched-reviewed-model-list-group {
    width: 100%;
}

.matched-review-model-preview {
    height: 220px;
    overflow: scroll;
}

.margins-div {
    margin: 0 0 0 2px;
}

.model-filter > .inline-block {
    margin-top: 3px;
}

.model-filter-auto-size {
    width: 100%;
}

.model-filter-button {
    height: 33px;
    margin-left: 3px !important;
}

.model-filter span {
    margin-bottom: 5px;
}

.model-filter-dropdown-multi-select {
    margin-right: 5px;
}

.model-instance-changeable {
    padding: 5px;
    border-bottom: inset 2px #696969;
}

    .model-instance-changeable > .new-model-input > .btn-block {
        margin-top: 5px;
    }

.model-management-grid {
    margin-top: 2px;
    background: rgba(222, 222, 225, 0.2);
}

    .model-management-grid > a {
        margin-left: 5px;
        color: red;
    }

.model-management-grid-cell {
    text-align: center;
}

.model-management-grid-header {
    text-align: center;
    height: 31px;
}

.model-management-modal-logic {
    left: 1%;
}

.model-management-modal-save {
    top: 170px;
}

.modal-backdrop {
    background: rgba(0, 0, 0, 0);
}

.model-name-grid {
    margin-top: 5px;
    padding-right: 2px;
}

.model-preview {
    height: 185px;
    overflow: auto;
}

.models-select {
    height: 120px;
    margin-top: 5px;
    overflow: auto;
    position: relative;
    top: -10px;
    width: 100%;
}

.models-add {
    left: 70%;
    position: relative;
    width: 30px;
}

.models-drop {
    height: 200px;
    overflow: auto;
}

.models-label {
    position: relative;
    left: -50px;
    top: 30px;
}

.new-model-input {
    margin-top: 10px;
    margin-bottom: 12px;
}

.next-todo > .btn {
    margin: 10px;
}

.number-picker {
    display: inline;
    width: 50px;
    height: 60px;
}

.number-arrow {
    position: relative;
    display: inline-block;
    top: 15px;
}

    .number-arrow > span > a {
        position: relative;
        color: #328F7B;
        display: block;
        float: none;
        padding: 1px;
        margin-left: 1px;
        margin-top: -11px;
    }

.number-input {
    height: 30px;
    padding-top: 4px;
    padding-bottom: 7px;
    margin-bottom: 0;
}

.panner-div {
    display: inline-block;
    position: relative;
    top: 10px;
}

    .panner-div > label {
        margin-top: 10px;
    }

    .panner-div > div {
        display: inline-block;
        margin-top: 10px;
    }

.play-rate {
    font-size: 18px;
    position: relative;
    top: 5px;
}

.public-component-filter {
    margin-bottom: 10px;
}

.right {
    position: absolute;
    right: 2%;
}

.section-content {
    display: inline-block;
    overflow: hidden;
    width: 90%;
}

.sweetAlert {
    top: 40% !important;
    left: 65% !important;
}

.switch {
    margin-top: 5px;
    left: 35%;
    position: relative;
    top: 1px;
}

.switch-instance {
    margin-top: 5px;
    margin-left: 10px;
    position: relative;
    top: 1px;
}

.tag-list li a {
    display: inline;
}

.video-keywords {
    background: #d55f3c;
    border: 4px solid rgba(222, 222, 225, 0.2);
    color: #fff;
    display: inline-block;
    position: relative;
    margin-top: 3px;
}



.vtt-highlight {
    color: #ff0000;
}
/*id*/
[id^='video-keywords'] {
    position: relative;
    display: block;
    width: auto;
}

#iNu-logo-s {
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
    left: 60px;
    max-width: 100%;
}

#iNu-logo {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    max-width: 100%;
    margin: auto;
}
