<div class="ibox">
    <div class="ibox-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div ng-show="matchedReviewCtrl.isShowModelDetail">
                        <h3 class="text-center">
                            {{matchedReviewCtrl.modelTitle}}-{{"logicWord"|translate}}
                            <span class="btn btn-default btn-outline fa fa-undo"
                                  ng-click="matchedReviewCtrl.isShowModelDetail=!matchedReviewCtrl.isShowModelDetail"></span>
                        </h3>
                        <build-section datasource="matchedReviewCtrl.buildSections" title-property="{{::'name'}}"
                                       items-property="{{::'items'}}"
                                       item-editable-property="{{::'itemInfo.editable'}}"
                                       do-repeat-complete="matchedReviewCtrl.doRepeatComplete">
                            <item-template>
                                <div ng-class="{'agent*':'agent0','customer*':'customer0','dialogs':'dialogs'}[item.itemInfo.field.value]" title="{{item.itemInfo.field.display|translate}}:&nbsp;{{item.itemInfo.query.display}}&nbsp;{{item.itemInfo.syntax.display}}&nbsp;{{item.itemInfo.slop.display}}">
                                    {{item.itemInfo.query.display}}&nbsp;{{item.itemInfo.syntax.display}}&nbsp;{{item.itemInfo.slop.display}}
                                </div>
                            </item-template>
                        </build-section>
                    </div>
                    <div ng-hide="matchedReviewCtrl.isShowModelDetail">
                        <form class="form-group">
                            <model-filter auto-size="matchedReviewCtrl.dropdownAutoSize"
                                          datasource="matchedReviewCtrl.queriesBinding.search"
                                          tag-display-property="{{::'name'}}"
                                          query-placeholder="{{::'queryPlaceholder'|translate}}"
                                          tags-placeholder="{{::'tagsPlaceholder'|translate}}"
                                          do-filter="matchedReviewCtrl.filterModelGroup">
                            </model-filter>
                        </form>
                        <div ng-show="matchedReviewCtrl.models.length>0">
                            <h4 class="list-group-item active  list-group-item-info text-center">模型名稱列表</h4>
                            <div nested-scroll
                                 ng-class="{true:'matched-review-model-preview'}[matchedReviewCtrl.models.length>5]"
                                 class="list-group matched-reviewed-model-list-group">
                                <a class="list-group-item text-center animated flipInX" ng-repeat="model in matchedReviewCtrl.models"
                                   ng-click="matchedReviewCtrl.showModelDetail(model)">{{model.title}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <matched-review-grid datasource="matchedReviewCtrl.gridData"></matched-review-grid>
                </div>
            </div>
        </div>
    </div>
</div>
