<div class="row">
    <!--模型創建-->
    <div class="col-md-5 col-xs-12 col-sm-12">
        <div class="ibox">
            <div class="ibox-title"><h2>{{"logicWord"|translate}}</h2></div>
            <div class="ibox-content">
                <h4>{{"keywordTitle"|translate}}：</h4>

                <p></p>
                <tags-input ng-model="createModelCtrl.keywords"
                            min-length="0"
                            add-on-space="true"
                            add-on-paste="true"
                            enable-editing-last-tag="true"
                            paste-split-pattern="\s|,"
                            allow-leftover-text="true"
                            add-on-enter="true"
                            tags-repeat="true"
                            placeholder="{{'keywordPlaceholder'|translate}}"
                            focus="createModelCtrl.inputFocus"
                        >
                    <auto-complete source="createModelCtrl.autoTips($query)"
                                   min-length="0"
                                   select-first-match="false"></auto-complete>
                </tags-input>
                <!--<input type="text" class="form-control" placeholder="{{'keywordPlaceholder'|translate}}"-->
                <!--ng-model="createModelCtrl.keywords"-->
                <!--focus="createModelCtrl.inputFocus"-->
                <!--ng-change="createModelCtrl.keywordCheck(createModelCtrl.keywords)"/>-->


                <p></p>
                <!--組件使用的RadioButton-->
                <div ng-show="createModelCtrl.isComponent">
                    <div class="radio"><label> <input icheck type="radio" name="componentRadio" value="or"
                                                      ng-model="createModelCtrl.keywordSelect">
                        {{"eitherAccord"|translate}}
                    </label></div>
                    <div class="radio"><label> <input icheck type="radio" name="componentRadio" value="and"
                                                      ng-model="createModelCtrl.keywordSelect">
                        {{"allAccord"|translate}}
                    </label></div>
                </div>
                <!--模型使用的RadioButton-->
                <div ng-hide="createModelCtrl.isComponent">
                    <div class="radio"><label> <input icheck type="radio" name="modelRadio" value="or"
                                                      ng-model="createModelCtrl.keywordSelect">
                        {{"eitherAccord"|translate}}
                    </label></div>
                    <div class="radio"><label> <input icheck type="radio" name="modelRadio" value="and"
                                                      ng-model="createModelCtrl.keywordSelect">
                        {{"allAccord"|translate}}
                    </label></div>
                </div>

                <div class="form-inline col-xs-offset-1" ng-show="createModelCtrl.keywordSelect=='and'">
                    <div class="checkbox">
                        <label><input icheck type="checkbox" name="radioTest"
                                      ng-model="createModelCtrl.limitDistanceChecked">
                            {{"wordDistance"|translate}}：
                        </label>
                        <number-picker number="createModelCtrl.distance" size="3"></number-picker>
                        &nbsp;&nbsp;
                        <label ng-if="createModelCtrl.limitDistanceChecked">
                            <input icheck type="checkbox" name="radioTest" ng-model="createModelCtrl.afterwordChecked">
                            <span>  {{"afterWord"|translate}}</span>
                        </label>

                    </div>
                </div>
                <p></p>

                <p></p>

                <h4>{{"keywordRole"|translate}}：</h4>
                <select class="form-control m-b">
                    <option ng-repeat="role in createModelCtrl.roles">{{role.name}}</option>
                </select>

                <hr/>
                <div class="row">
                    <div ng-class="{false:'btn-group'}[createModelCtrl.isRounded()]">
                        <label class="col-xs-6 col-md-4 col-sm-4 btn btn-success "
                               ng-class="{false:'btn-rounded'}[createModelCtrl.isRounded()]"
                               ng-model="createModelCtrl.modelSection.basicModel"
                               btn-radio="'mustHave'">{{"mustHave"|translate}}</label>
                        <label class="col-xs-6 col-md-4 col-sm-4 btn btn-success "
                               ng-model="createModelCtrl.modelSection.basicModel"
                               btn-radio="'mustNot'">{{"mustNot"|translate}}</label>
                        <label class="col-xs-6 col-md-4 col-sm-4 btn btn-success "
                               ng-class="{false:'btn-rounded'}[createModelCtrl.isRounded()]"
                               ng-model="createModelCtrl.modelSection.basicModel"
                               btn-radio="'should'">{{"should"|translate}}</label>
                    </div>
                    <button class="col-xs-6 col-md-4 col-sm-4 col-lg-2 pull-right btn btn-success btn-rounded  "
                            ng-click="createModelCtrl.addToBuildSection(createModelCtrl.modelSection.basicModel,createModelCtrl.keywords)"
                            ng-disabled="createModelCtrl.keywords.length<=0"><i
                            class="fa fa-plus"></i>&nbsp;{{"join"|translate}}
                    </button>
                </div>
            </div>
        </div>
        <!--可復用的模型組件-->
        <div class="ibox">
            <div class="ibox-title">
                <h2>{{"reuseModel"|translate}}
                    <button class="btn btn-primary btn-sm pull-right">{{"update"|translate}}</button>
                </h2>
            </div>
            <div class="ibox-content">
                <div class="btn-group btn-group-vertical btn-block "
                     ng-class="{true:'model-preview'}[createModelCtrl.reuseModel.length>5]">
                    <div class="btn btn-success btn-outline" ng-repeat="model in createModelCtrl.reuseModel"
                         ng-model="checked"
                         ng-click="createModelCtrl.toggleSelection(createModelCtrl.selectedReuseModel,model)"
                         btn-checkbox>
                        {{model.name}}
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div ng-class="{false:'btn-group'}[createModelCtrl.isRounded()]">
                        <label class="col-xs-6 col-md-4 col-sm-4 btn btn-success"
                               ng-class="{false:'btn-rounded'}[createModelCtrl.isRounded()]"
                               ng-model="createModelCtrl.modelSection.reuseModel"
                               btn-radio="'mustHave'">{{"mustHave"|translate}}</label>
                        <label class="col-xs-6 col-md-4 col-sm-4  btn btn-success"
                               ng-model="createModelCtrl.modelSection.reuseModel"
                               btn-radio="'mustNot'">{{"mustNot"|translate}}</label>
                        <label class="col-xs-6 col-md-4 col-sm-4  btn btn-success "
                               ng-class="{false:'btn-rounded'}[createModelCtrl.isRounded()]"
                               ng-model="createModelCtrl.modelSection.reuseModel"
                               btn-radio="'should'">{{"should"|translate}}</label>
                    </div>
                    <button class="col-xs-6 col-md-4 col-sm-4 col-lg-2  pull-right btn btn-success  btn-rounded "
                            ng-disabled="createModelCtrl.selectedReuseModel.length <= 0"><i
                            class="fa fa-plus"></i>&nbsp;{{"join"|translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--查詢條件-->
    <div class="col-md-4 col-xs-12  col-sm-12">
        <div class="ibox">
            <div class="ibox-title"><h2>{{"queryConditions"|translate}}<span title="{{'undo'|translate}}"
                                                                             class="btn btn-default btn-outline fa fa-undo animated wobble  pull-right"
                                                                             ng-click="createModelCtrl.undo()"
                                                                             ng-show="createModelCtrl.showUndo"></span>
            </h2></div>
            <div class="ibox-content">
                <!--auto render-->
                <build-section datasource="createModelCtrl.datasource" clear="createModelCtrl.clear"></build-section>
            </div>
        </div>
    </div>
    <!--配置-->
    <div class="col-md-3 col-xs-12 col-sm-12">
        <div class="ibox" ng-show="createModelCtrl.isInstance">
            <div class="ibox-title"><h2>{{"config"|translate}}</h2></div>
            <div class="ibox-content">
                <component-instance delete-component="createModelCtrl.deleteComponent"
                                    rename-component="createModelCtrl.renameComponent"
                                    ng-show="createModelCtrl.isComponent"></component-instance>
                <!--創建模型顯示控件-->
                <model-instance datasource="createModelCtrl.modelDatasource.models"
                                add-model="createModelCtrl.addModel"
                                delete-model="createModelCtrl.deleteComponent"
                                rename-model="createModelCtrl.renameComponent"
                                ng-hide="createModelCtrl.isComponent" is-instance="createModelCtrl.isInstance">

                </model-instance>

            </div>
        </div>
        <div class="ibox">
            <div class="ibox-title">
                <h2 translate="whatEditing"
                    translate-values="{componentOrModelName:'{{createModelCtrl.componentOrModelName}}'}"></h2>

                <h3 class="text-success" ng-click="createModelCtrl.nextView = true"><i class="fa fa-info-circle"></i>&nbsp;{{'next'|translate}}
                </h3>
            </div>
            <div class="ibox-content">


                <form class="form-group" ng-show="createModelCtrl.isComponent">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="createModelCtrl.saveAsName"
                               ng-disabled="createModelCtrl.isNextTodo" required/> <span class="input-group-btn"><button
                            ng-click="createModelCtrl.saveAs()"
                            class="btn btn-success">{{'saveComponent'|translate}}
                    </button></span>
                    </div>
                    <div class="btn-group btn-group-vertical animated fadeIn btn-block next-todo"
                         ng-show="createModelCtrl.isNextTodo">
                        <label class="btn btn-success ">{{'continueEditTemplate'|translate}}</label>
                        <label class="btn btn-success ">{{'editSaveComponent'|translate}}</label>
                    </div>
                </form>

                <!--創建模型顯示控件-->
                <form class="form-group" ng-hide="createModelCtrl.isComponent">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="createModelCtrl.saveAsName"
                               ng-disabled="createModelCtrl.isNextTodo" required/> <span class="input-group-btn"><button
                            ng-click="createModelCtrl.saveAs()"
                            class="btn btn-success">{{'saveModel'|translate}}
                    </button></span>
                    </div>
                    <div class="btn-group btn-group-vertical btn-block animated fadeIn next-todo"
                         ng-show="createModelCtrl.isNextTodo">
                        <label class="btn btn-success">{{'continueEditTemplate'|translate}}</label>
                        <label class="btn btn-success">{{'editSaveModel'|translate}}</label>
                        <label class="btn btn-success">{{'enableSaveModel'|translate}}</label>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>