<div class="ibox">
    <div class="ibox-content">
        <div class="row">
            <form class="form-inline">
                <dropdown-multi-select
                        datasource="modelManagementCtrl.datasource"
                        selected-items="modelManagementCtrl.selectedItems"
                        display-property="{{::'name'}}"
                        placeholder="{{::'modelGroupSelectPlactholder'|translate}}">
                </dropdown-multi-select>
                <div class="inline-block">
                    <label> {{'modelKeyword'|translate}}:</label>
                    <input type="text" class="model-management-input" ng-model="modelManagementCtrl.modelKeyword"
                           required/>
                    <button class="btn btn-success model-management-filter" ng-click="modelManagementCtrl.filterModel()"
                            ng-disabled="!modelManagementCtrl.selectedItems.length||!modelManagementCtrl.modelKeyword">
                        {{'filter'|translate}}
                    </button>
                </div>
            </form>
            <div ui-grid="modelManagementCtrl.gridOptions" class="model-management-grid"></div>
        </div>
    </div>
</div>
