<div class="row">
    <!--查詢條件-->
    <div class="col-md-4 col-xs-12  col-sm-12">
        <div class="ibox">
            <div class="ibox-title">

                <h2>
                    {{"queryConditions"|translate}}
                    <span title="{{'undo'|translate}}"
                          class="btn btn-default btn-outline fa fa-undo animated wobble  pull-right"
                          ng-click="createModelCtrl.undo()"
                          ng-show="createModelCtrl.showUndo">
                    </span>
                    <label class="pull-right btn btn-info" ng-click="createModelCtrl.viewTemporaryAudio()">{{'matchedReviewTemplate'|translate}}</label>
                </h2>
            </div>
            <div class="ibox-content">
                <!--auto render-->
                <build-section datasource="createModelCtrl.sections"
                               clear-all-text="{{::'clearAll'|translate}}"
                               clear="createModelCtrl.sectionsClear"
                               title-property="{{::'name'}}"
                               items-property="{{::'items'}}"
                               item-editable-property="{{::'itemInfo.editable'}}"
                               item-dblclick="createModelCtrl.sectionsDblclick">
                    <item-template>
                        <div ng-class="{'agent*':'agent0','customer*':'customer0','dialogs':'dialogs'}[item.itemInfo.field.value]" title="{{item.itemInfo.field.display|translate}}:&nbsp;{{item.itemInfo.query.display}}&nbsp;{{item.itemInfo.syntax.display}}&nbsp;{{item.itemInfo.slop.display}}">
                            {{item.itemInfo.query.display}}&nbsp;{{item.itemInfo.syntax.display}}&nbsp;{{item.itemInfo.slop.display}}
                        </div>
                    </item-template>
                </build-section>
                <div ng-show="createModelCtrl.showPreview">
                    <matched-preview-grid datasource="createModelCtrl.previewBinding"></matched-preview-grid>
                </div>
            </div>
        </div>
    </div>
    <!--模型創建-->
    <div class="col-md-5 col-xs-12 col-sm-12 build-model-logic">
        <div class="ibox">
            <div class="ibox-title">
                <h2>{{"logicWord"|translate}}</h2>
            </div>
            <div class="ibox-content">

                <h3>{{"keywordTitle"|translate}}：</h3>
                <tags-input ng-model="createModelCtrl.editBinding.syntax.query"
                            min-length="0"
                            add-on-paste="true"
                            enable-editing-last-tag="true"
                            paste-split-pattern="\s|,"
                            allow-leftover-text="true"
                            add-on-enter="true"
                            tags-repeat="true"
                            placeholder="{{'keywordPlaceholder'|translate}}"
                            focus="createModelCtrl.editBinding.syntax.focus">
                    <auto-complete source="createModelCtrl.autoTips($query)"
                                   min-length="0"
                                   select-first-match="false"></auto-complete>
                </tags-input>

                <div>
                    <div class="radio ">
                        <label>
                            <input icheck type="radio" name="modelRadio" value="OR"
                                   ng-model="createModelCtrl.editBinding.syntax.operator"
                                   ng-change="createModelCtrl.editBinding.syntax.syntaxIdentity = 'match'">
                            {{"eitherAccord"|translate}}
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input icheck type="radio" name="modelRadio" value="AND"
                                   ng-model="createModelCtrl.editBinding.syntax.operator">
                            {{"allAccord"|translate}}
                        </label>
                    </div>
                </div>

                <div class="form-inline col-xs-offset-1 distance" ng-show="createModelCtrl.editBinding.syntax.operator=='AND'">
                    <div class="checkbox">
                        <label>
                            <input icheck type="checkbox" name="radioTest"
                                   ng-model="createModelCtrl.editBinding.syntax.syntaxIdentity"
                                   ng-true-value="'near'"
                                   ng-false-value="'match'">
                            {{"wordDistance"|translate}}：
                        </label>
                        <number-picker number="createModelCtrl.editBinding.syntax.slop" size="3"></number-picker>

                        <label ng-if="createModelCtrl.editBinding.syntax.syntaxIdentity === 'near'">
                            <input icheck type="checkbox" name="radioTest"
                                   ng-model="createModelCtrl.editBinding.syntax.inOrder">
                            <span>  {{"afterWord"|translate}}</span>
                        </label>
                    </div>
                </div>

                <h3>{{"keywordRole"|translate}}：</h3>
                <select class="form-control m-b" ng-model="createModelCtrl.editBinding.syntax.field"
                        ng-options="field as field|translate for field in  createModelCtrl.editBinding.syntax.fields"></select>

                <hr />
                <div class="row select-section">
                    <span class="pull-left" set-class-with-width base-width="992" more-width-class="fa fa-arrow-left fa-2x"
                       less-width-class="fa fa-arrow-up fa-2x"></span>
                    <div class="inline-block">
                        <label class="col-xs-4 section-button  btn btn-primary "
                               ng-click="createModelCtrl.editBinding.syntax.occurrence='must';createModelCtrl.addToSectionFromSyntax(createModelCtrl.editBinding.syntax.syntaxIdentity)"
                               ng-disabled="createModelCtrl.editBinding.syntax.query.length<=0 || !createModelCtrl.editBinding.syntax.operator">{{"must"|translate}}</label>
                        <label class="col-xs-4  btn btn-danger "
                               ng-click="createModelCtrl.editBinding.syntax.occurrence='must_not';createModelCtrl.addToSectionFromSyntax(createModelCtrl.editBinding.syntax.syntaxIdentity)"
                               ng-disabled="createModelCtrl.editBinding.syntax.query.length<=0 || !createModelCtrl.editBinding.syntax.operator">{{"must_not"|translate}}</label>
                        <label class="col-xs-4  btn btn-warning "
                               ng-click="createModelCtrl.editBinding.syntax.occurrence='should';createModelCtrl.addToSectionFromSyntax(createModelCtrl.editBinding.syntax.syntaxIdentity)"
                               ng-disabled="createModelCtrl.editBinding.syntax.query.length<=0 || !createModelCtrl.editBinding.syntax.operator">{{"should"|translate}}</label>
                    </div>
                </div>
            </div>
        </div>
        <!--可復用的模型組件-->
        <div class="ibox">
            <div class="ibox-title ">
                <h2>{{"addNestingModel"|translate}}<label class="pull-right btn btn-success fa fa-plus" ng-click="createModelCtrl.addTab()"></label></h2>
            </div>
            <div class="ibox-content">
                <form class="form-group">
                    <model-filter auto-size="true"
                                  datasource="createModelCtrl.queriesBinding.search"
                                  tag-display-property="{{::'name'}}"
                                  query-placeholder="{{::'queryPlaceholder'|translate}}"
                                  tags-placeholder="{{::'tagsPlaceholder'|translate}}"
                                  do-filter="createModelCtrl.filterModelGroup">
                    </model-filter>
                </form>
                <div id="reuseModel" nested-scroll class="checkbox "
                     ng-class="{true:'model-preview'}[createModelCtrl.editBinding.component.items.length>5]">
                    <label class=" text-left animated fadeInLeft" ng-repeat="item in createModelCtrl.editBinding.component.items">
                        <input type="checkbox"
                               ng-model="item.checked"
                               ng-checked="item.checked"
                               ng-change="createModelCtrl.toggleSelection(createModelCtrl.editBinding.component.selected,item)"
                               iCheck>
                        <span> {{item.title}}</span>
                    </label>
                </div>
                <hr />
                <div class="row  select-section">
                    <span class="pull-left" set-class-with-width base-width="992" more-width-class="fa fa-arrow-left fa-2x"
                          less-width-class="fa fa-arrow-up fa-2x"></span>
                    <div class="inline-block">
                        <label class="col-xs-4 btn btn-primary"
                               ng-click="createModelCtrl.editBinding.component.occurrence='must';createModelCtrl.addToSectionFromComponent()"
                               ng-disabled="createModelCtrl.editBinding.component.selected.length<=0">{{"must"|translate}}</label>
                        <label class="col-xs-4  btn btn-danger"
                               ng-click="createModelCtrl.editBinding.component.occurrence='must_not';createModelCtrl.addToSectionFromComponent()"
                               ng-disabled="createModelCtrl.editBinding.component.selected.length<=0">{{"must_not"|translate}}</label>
                        <label class="col-xs-4 btn btn-warning "
                               ng-click="createModelCtrl.editBinding.component.occurrence='should';createModelCtrl.addToSectionFromComponent()"
                               ng-disabled="createModelCtrl.editBinding.component.selected.length<=0">{{"should"|translate}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-xs-12 col-sm-12">
        <!--配置-->
        <div class="ibox">
            <div class="ibox-title"><h2>{{"config"|translate}}</h2></div>
            <div class="ibox-content">
                <model-instance datasource="createModelCtrl.editBinding.configuration"
                                add-tags="createModelCtrl.addTags"
                                delete-model="createModelCtrl.deleteModel"
                                enable-model="createModelCtrl.enabledModel"
                                do-save="createModelCtrl.saveConfiguration"
                                selected-eventhandler="createModelCtrl.modelInstanceSelected"
                                is-instance="createModelCtrl.isInstance">
                </model-instance>

            </div>
        </div>
        <!--進階功能-->
        <div class="ibox">
            <div class="ibox-title">
                <h2 ng-hide="createModelCtrl.isInstance">{{'editingTemplate'|translate}}</h2>

                <h2 ng-show="createModelCtrl.isInstance" translate="editingModel"
                    translate-values="{modelName:'{{createModelCtrl.editBinding.configuration.title}}'}"></h2>
            </div>
            <div class="ibox-content">
                <button class="btn btn-success btn-block"
                        ng-click="createModelCtrl.nextToDo()"
                        ng-hide="createModelCtrl.nextView">
                    <i class="fa fa-info-circle"></i>{{'next'|translate}}
                </button>
                <!--創建模型顯示控件-->
                <form name="nextView" class="form-group animated fadeIn" ng-show="createModelCtrl.nextView">
                    <input type="text" class="form-control btn-block" name="modelTile"
                           ng-model-options="{ updateOn: 'blur' }"
                           ng-keyup="createModelCtrl.resetTitle($event)"
                           ng-model="createModelCtrl.editBinding.expansion.title"
                           placeholder="{{'modelNamePlaceholder'|translate}}"
                           focus="createModelCtrl.saveAsNameInputFocus" required />
                    <button class="btn btn-success btn-block"
                            ng-click="createModelCtrl.saveAs('save')">
                        {{'saveModel'|translate}}
                    </button>
                    <button class="btn btn-success btn-block" ng-click="createModelCtrl.saveAs('online')">
                        {{'saveModelAndOnline'|translate}}
                    </button>
                    <button class="btn btn-success btn-block" ng-click="createModelCtrl.saveAs('edit')">
                        {{'saveModelAndEdit'|translate}}
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>