<div class="coross-analysis-div">
    <accordion>
        <accordion-group>
            <accordion-heading>
                <a><h3>{{'datasourceFilterConfig'|translate}}<i class="pull-right fa fa-2x fa-caret-down"></i></h3></a>
            </accordion-heading>
            <div class="col-md-3 col-xs-12">1</div>
            <div class="col-md-3 col-xs-12">2</div>
            <div class="col-md-3 col-xs-12">3</div>
            <div class="col-md-3 col-xs-12">4</div>
        </accordion-group>
    </accordion>
    <accordion>
        <accordion-group is-open="true">
            <accordion-heading>
                <a> <h3>{{'dynamicModelAnalysis'|translate}}<i class="pull-right fa fa-2x fa-caret-down"></i></h3></a>
            </accordion-heading>
            <div class="row">
                <div class="col-md-3 col-xs-12"  >
                  <single-radio-select datasource="crossAnalysisCtrl.modelGroupSelectDataSource" selected-item="crossAnalysisCtrl.modelGroupSelectedItems"></single-radio-select>
                </div>
                <div class="col-md-7 col-xs-12">
                    <item-picker datasource="crossAnalysisCtrl.matchedDatasource"></item-picker>
                </div>
                <div class="col-md-2 col-xs-12">
                    <h3>{{'currentMatchedCount'|translate}}</h3>
                </div>
            </div>
        </accordion-group>
    </accordion>
    <accordion>
        <accordion-group>
            <accordion-heading>
                <a><h3>{{'analysisBarChart'|translate}}<i class="pull-right fa fa-2x fa-caret-down"></i></h3></a>
            </accordion-heading>
        </accordion-group>
    </accordion>
</div>