<div class="middle-box text-center loginscreen  animated fadeInDown" style="color:  #e7eaec">
    <div>
        <div>

            <!--<h3 class="logo-name">{{'INU'|translate}}</h3>-->
            <img src="images/iNu.png" class="iNu-logo-login" alt="" />

        </div>

        <form class="m-t" role="form" style="color:  #151515">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" placeholder="{{'account'|translate}}" required="" ng-model="loginCtrl.account">
            </div>
            <p>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" class="form-control" placeholder="{{'password'|translate}}" required="" ng-model="loginCtrl.password">
            </div>
            <p></p>
            <button type="submit" class="btn btn-primary btn-block full-width m-b" ng-click="loginCtrl.login()">{{'login'|translate}}</button>
        </form>
        <div class="bg-danger" ngif="loginCtrl.errorMsg">{{loginCtrl.errorMsg}}</div>
        <p class="m-t">
            <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small>
        </p>
    </div>
</div>


