<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav" id="side-menu">

            <li>
                <a href="index.html"><i class="fa fa-line-chart"></i> <span class="nav-label">{{ 'trend' | translate }}</span></a>

            </li>


            <li >
                <a href=""><i class="fa fa-eye"></i> <span class="nav-label">{{ 'explore' | translate }}</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('charts')}">
                    <li ui-sref-active="active"><a ui-sref="main.crossAnalysis" >{{'crossAnalysis'|translate}}</a></li>
                    <li ui-sref-active="active"><a ui-sref="main.recordList">{{'callList'|translate}}</a></li>
                </ul>
            </li>
            <li >
                <a><i class="fa fa-plus-square-o"></i> <span class="nav-label">{{ 'model' | translate }} </span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('mailbox')}">
                    <li  ui-sref-active="active"><a ui-sref="main.buildModel">{{'modelBuild'|translate}}</a></li>
                    <li><a >{{'modelManage'|translate}}</a></li>
                </ul>
            </li>
        </ul>

    </div>
</nav>