<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <span minimaliza-sidebar></span>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            {{'WELCOME'|translate}}
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    {{mainCtrl.userInfo.groups[0].name}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="group in mainCtrl.userInfo.groups" ng-click="mainCtrl.selectGroup(group.name)"><a
                            href="javascript:void(0)">{{group.name}}</a></li>
                </ul>
            </div>




            <li class="dropdown" dropdown>
                <a class="dropdown-toggle count-info" href dropdown-toggle>
                    <i class="fa fa-user"></i> <span class="label label-primary"></span>
                </a>
            </li>
            |
            <li class="dropdown" dropdown>
                <a class="dropdown-toggle count-info" ui-sref="login">
                    <i class="fa fa-sign-out"></i> <span class="label label-primary"></span>
                </a>
            </li>
        </ul>

    </nav>
</div>