<div class="form-group">
    <div class="input-group">
        <input type="text" class="form-control" ng-disabled="componentInstanceCtrl.disableEdit" placeholder="{{'componentNamePlaceholder'|translate}}"/>
        <span class="input-group-btn">
            <button translate ng-class="{true:'btn btn-success',false:'btn btn-info'}[componentInstanceCtrl.disableEdit]" ng-click="componentInstanceCtrl.change('123')">{{componentInstanceCtrl.changeText}}</button>
        </span>

    </div>
    <!-- confirmed-click:按下確認後綁定的事件 confirm-click:確認視窗內容的文字-->
    <button confirmed-click="deleteComponent" confirm-click="{{'sureDelete'|translate}}" class="btn btn-danger  btn-block instance-button">{{'deleteComponent'|translate}}</button>
</div>
