<div class="form-inline">
    <label> 數據源：</label>
    <select class="form-control m-b-xs">
        <option>通話</option>
        <option>文文</option>
    </select>
</div>

<label class="modelsLabel"> 模型組：</label>
<div class="row">
    <div class="col-xs-1 col-md-3 col-lg-2">
        <span  class="btn btn-success fa fa-plus modelsAdd" ng-click="modelInstanceCtrl.addModel()"></span>
    </div>
    <div class="col-xs-11 col-md-9 col-lg-10 ">
        <div class="btn-group btn-group-vertical btn-block modelsSelect">
            <label class="btn btn-success btn-outline" ng-model="checked" ng-repeat="model in modelInstanceCtrl.datasource"
                   btn-checkbox>{{model.name}}</label>
             </div>
    </div>
</div>


<div ng-show="modelInstanceCtrl.isInstance">

    啟用此模型?&nbsp;&nbsp;
    <div class="btn-group">
        <label class="btn btn-success btn-xs btn-rounded btn-outline" ng-model="main.t"
               btn-radio="'Middle'">ON</label>
        <label class="btn btn-success btn-xs btn-rounded btn-outline" ng-model="main.t"
               btn-radio="'Right'">OFF</label>
    </div>
    <p></p>

    <div class="input-group">
        <input type="text" class="form-control" ng-disabled="modelInstanceCtrl.disableEdit"  ng-required="modelInstanceCtrl.required" ng-model="modelInstanceCtrl.textName"
               placeholder="{{'modelNamePlaceholder'|translate}}"/>
        <span class="input-group-btn">
            <<button translate ng-class="{true:'btn btn-success',false:'btn btn-info'}[modelInstanceCtrl.disableEdit]"
                     ng-click="modelInstanceCtrl.change()">{{modelInstanceCtrl.changeText}}
            </button>
        </span>
    </div>

    <!-- confirmed-click:按下確認後綁定的事件 confirm-click:確認視窗內容的文字-->
    <button ng-click="modelInstanceCtrl.deleteModel()" class="btn btn-danger  btn-block instance-button">{{'deleteModel'|translate}}
    </button>
</div>