<form class="form-horizontal">
    <h2 class="text-center" ng-if="modelInstanceCtrl.title">{{modelInstanceCtrl.title}}</h2>
    <!--<button class="btn-block"-->
    <!--ng-class="{true:'btn btn-success',false:'btn btn-info'}[modelInstanceCtrl.disableEdit]"-->
    <!--ng-click="modelInstanceCtrl.change()" ng-if="modelInstanceCtrl.isInstance">-->
    <!--{{modelInstanceCtrl.changeText|translate}}-->
    <!--</button>-->

    <div ng-class="{true:'model-instance-changeable'}[modelInstanceCtrl.isInstance]">
        <div class="form-inline">
            <h3> {{'models'|translate}}:
                <button class="btn btn-success btn-xs fa fa-plus" ng-click="modelInstanceCtrl.addTags()"></button>
            </h3>
            <div nested-scroll class="btn-group btn-group-vertical btn-block  "
                 ng-class="{true:'models-select'}[modelInstanceCtrl.datasource.tags.length>4]">
                <label id="models{{tag.name}}"
                       class="btn btn-success btn-outline animated fadeInLeft"
                       ng-model="tag.selected"
                       ng-repeat="tag in modelInstanceCtrl.datasource.tags track by $index"
                       ng-click="modelInstanceCtrl.tagClicked(modelInstanceCtrl.datasource)"
                       btn-checkbox>{{tag.name}}
                </label>
            </div>
        </div>

        <div class="form-inline new-model-input" ng-show="modelInstanceCtrl.isInstance||modelInstanceCtrl.isManagement">
            <label>{{'modelName'|translate}}:</label>
            <input type="text" class="form-control" required
                   ng-model="modelInstanceCtrl.datasource.title"
                   ng-change="modelInstanceCtrl.isDisabled = false"
                   placeholder="{{'modelNamePlaceholder'|translate}}"/>
            <button ng-show="modelInstanceCtrl.isInstance" ng-click="modelInstanceCtrl.saveConfiguration(modelInstanceCtrl.datasource)"
                    class="btn btn-success btn-block">{{'change'|translate}}
            </button>
        </div>

    </div>
    <!--管理模式下-->
    <div ng-if="modelInstanceCtrl.isManagement">
        <button class="btn btn-success btn-block instance-button" ng-click="modelInstanceCtrl.saveModel('save')"
                ng-disabled="!modelInstanceCtrl.datasource.title || modelInstanceCtrl.isDisabled">
            {{'saveAsModel'|translate}}
        </button>
        <button class="btn btn-success btn-block instance-button" ng-click="modelInstanceCtrl.saveModel('online')"
                ng-disabled="!modelInstanceCtrl.datasource.title || modelInstanceCtrl.isDisabled">
            {{'saveModelAndOnline'|translate}}
        </button>
    </div>

    <div class="input-group" ng-show="modelInstanceCtrl.isInstance">
        <!-- confirmed-click:按下確認後綁定的事件 confirm-click:確認視窗內容的文字-->

        <label class="checkOnline">{{'onlineModel'|translate}}</label>

        <div class="switch-instance inline-block">
            <div class="onoffswitch">
                <input type="checkbox" ng-model="modelInstanceCtrl.datasource.isOnline"
                       ng-checked="modelInstanceCtrl.datasource.isOnline"
                       ng-click="modelInstanceCtrl.enableModel(modelInstanceCtrl.datasource)"
                       class="onoffswitch-checkbox" id="checkOnline{{modelInstanceCtrl.datasource.title}}">
                <label class="onoffswitch-label" for="checkOnline{{modelInstanceCtrl.datasource.title}}"
                        >
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
        </div>
        <button ng-click="modelInstanceCtrl.deleteModel()"
                ng-disabled="!modelInstanceCtrl.datasource.title || modelInstanceCtrl.isDisabled"
                class="btn btn-danger   instance-delete-button">
            {{'deleteModel'|translate}}
        </button>
    </div>
</form>
