<div class="form-inline model-filter" ng-enter="modelFilterCtrl.filterClick(modelFilterCtrl.datasource)"><!--需修改-->
<span ng-class="{false:'model-filter-auto-size'}[modelFilterCtrl.autoSize]" class="btn-group" dropdown
      auto-close="outsideClick">
     <button ng-class="{false:'model-filter-auto-size'}[modelFilterCtrl.autoSize]"
             class="btn btn-default dropdown-toggle model-filter-dropdown-multi-select" dropdown-toggle ng-disabled="disabled">
         <label translate="{{modelFilterCtrl.selectedText}}"
                translate-values="{selectedLength:'{{modelFilterCtrl.selectedItems.length}}'}"></label>
         <span class="fa fa-caret-down fa-lg"></span>
     </button>
      <ul nested-scroll class="dropdown-menu models-drop">
          <li class="btn-group btn-group-vertical btn-block"
              ng-repeat="item in modelFilterCtrl.datasource.tags track by $index">
              <label btn-checkbox class="btn btn-success btn-outline animated fadeInLeft" ng-model="item.selected"
                     ng-click="modelFilterCtrl.itemClicked(item)">{{::item[modelFilterCtrl.tagDisplayProperty]}}</label>
          </li>
      </ul>
</span>
    <div class="inline-block">
        <label>{{'modelKeyword'|translate}}</label>
        <input type="text" class="form-control inline-block"
               placeholder="{{modelFilterCtrl.queryPlaceholder}}"
               ng-model="modelFilterCtrl.datasource.q" />
        <button class="btn btn-success btn-xs model-filter-button"
                ng-click="modelFilterCtrl.filterClick(modelFilterCtrl.datasource)"
                >
            {{'filter'|translate}}
        </button>
    </div>
</div>