<form class="form-horizontal">
    <h2 ng-if="modelInstanceCtrl.title">{{modelInstanceCtrl.title}}</h2>
    <!--<button class="btn-block"-->
    <!--ng-class="{true:'btn btn-success',false:'btn btn-info'}[modelInstanceCtrl.disableEdit]"-->
    <!--ng-click="modelInstanceCtrl.change()" ng-if="modelInstanceCtrl.isInstance">-->
    <!--{{modelInstanceCtrl.changeText|translate}}-->
    <!--</button>-->

    <div class="field_set">
        <div class="form-inline">
            <h3> {{'models'|translate}}:
                <button class="btn btn-success btn-xs fa fa-plus" ng-click="modelInstanceCtrl.addModelGroup()"></button>
            </h3>
            <div nested-scroll class="btn-group btn-group-vertical btn-block models-select ">
                <label id="models{{model.name}}" class="btn btn-success btn-outline animated fadeInLeft"
                       ng-model="model.selected"
                       ng-repeat="model in modelInstanceCtrl.datasource track by $index"
                       ng-click="modelInstanceCtrl.modelClicked(model)"
                       btn-checkbox>{{model.name}}
                </label>
            </div>
        </div>

    </div>


    <div class="clearfix"></div>
    <div ng-if="modelInstanceCtrl.isManagement">
        <button class="btn btn-success btn-block instance-button" ng-click="modelInstanceCtrl.saveModel('save')"
                ng-disabled="!modelInstanceCtrl.modelName||modelInstanceCtrl.selectedModelGroups.length<=0">
            {{'saveAsModel'|translate}}
        </button>
        <button class="btn btn-success btn-block instance-button" ng-click="modelInstanceCtrl.saveModel('online')"
                ng-disabled="!modelInstanceCtrl.modelName||modelInstanceCtrl.selectedModelGroups.length<=0">
            {{'saveModelAndOnline'|translate}}
        </button>
    </div>
    <p></p>

    <div ng-show="modelInstanceCtrl.isInstance">
        <!-- confirmed-click:按下確認後綁定的事件 confirm-click:確認視窗內容的文字-->
        <div class="form-inline">
            <label>{{'modelName'|translate}}:</label>
            <input type="text" class="form-control-static" required="modelInstanceCtrl.required"
                   ng-model="modelInstanceCtrl.modelName"
                   placeholder="{{'modelNamePlaceholder'|translate}}"/>
        </div>
        <label class="checkOnline">{{'onlineModel'|translate}}？</label>
        <div class="switch inline-block">
            <div class="onoffswitch">
                <input type="checkbox" ng-checked="modelInstanceCtrl.isOnline" class="onoffswitch-checkbox"
                       id="checkOnline{{modelInstanceCtrl.modelName}}">
                <label class="onoffswitch-label" for="checkOnline{{modelInstanceCtrl.modelName}}"
                       ng-click="modelInstanceCtrl.enableModel()">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
        </div>
        <button ng-click="modelInstanceCtrl.changeModelName()"
                ng-disabled="!modelInstanceCtrl.modelName||modelInstanceCtrl.selectedModelGroups.length<=0"
                class="btn btn-success btn-block">{{'change'|translate}}
        </button>
        <button ng-show="modelInstanceCtrl.isInstance" ng-click="modelInstanceCtrl.deleteModel()"
                ng-disabled="!modelInstanceCtrl.modelName"
                class="btn btn-danger  btn-block instance-button">
            {{'deleteModel'|translate}}
        </button>
    </div>
</form>
